@import url('https://fonts.googleapis.com/css?family=Quicksand');
:root {
    --red: #742b32;
    --beige: #b8aeab;
    --dark-grey:#d9d9d9;
    --font-family: "Quicksand";
    --header-height: 7vh;
    --footer-height: 7vh;
    --giant-font-size: 5.5vh;
    --big-font-size: 2.5vh;
    --normal-font-size: 2vh;
    --small-font-size: 1.5vh;
    --mini-font-size: 1vh;
  }